<svg ng-attr-width="{{lineChart.width + 100}}" ng-attr-height="{{lineChart.height + 100}}">
  <g ss-transform="lineChart.transform().translate(50,550)"
      ss-axis="'bottom'"
      ss-ticks="20"
      ss-scale="lineChart.xScale"
      ss-format="lineChart.xLabelFormat"/>
  <g transform="translate(50,50)"
      ss-axis="'left'"
      ss-ticks="10"
      ss-scale="lineChart.yScale"
      ss-format="lineChart.yLabelFormat"/>
  <g transform="translate(50,50)">
    <g ng-repeat="variable in lineChart.variables">
      <circle
          r="5"
          ss-cx="lineChart.xScale.scale($index)"
          ss-cy="lineChart.yScale.scale(datum[variable])"
          ss-cy-enter="lineChart.yScale.scale(0)"
          ss-fill="lineChart.color(variable)"
          ss-dur="0.1"
          ng-repeat="datum in lineChart.data"/>
      <path
          fill="none"
          ss-stroke="lineChart.color(variable)"
          ss-d="lineChart.path(variable)"
          ss-d-update="lineChart.pathEnter(variable)"
          ss-dur="0.1"
          />
    </g>
  </g>
</svg>
