<div>
  <button class="btn btn-default" ng-click="simple.update()">Update</button>
</div>
<div>
  <svg width="500" height="500">
    <text x="130" y="100" text-anchor="end">duration &amp; delay</text>
    <circle
      cy="100"
      r="10"
      fill="hsl(0,100%,50%)"
      ssvg
      ss-cx="simple.x"
      ss-dur="0.5"
      ss-delay="0.5"/>
    <text x="130" y="200" text-anchor="end">duration</text>
    <circle
      cy="200"
      r="10"
      fill="hsl(90,100%,50%)"
      ssvg
      ss-cx="simple.x"
      ss-dur="1"/>
    <text x="130" y="300" text-anchor="end">delay</text>
    <circle
      cy="300"
      r="10"
      fill="hsl(180,100%,50%)"
      ssvg
      ss-cx="simple.x"
      ss-delay="1"/>
    <text x="130" y="400" text-anchor="end">none</text>
    <circle
      cy="400"
      r="10"
      fill="hsl(270,100%,50%)"
      ssvg
      ss-cx="simple.x"/>
  </svg>
</div>
