<div>
  <form ng-submit="barChart.add()">
    <div class="form-group">
      <label>Label</label>
      <input class="form-control" ng-model="barChart.newLabel"/>
    </div>
    <div class="form-group">
      <label>Value</label>
      <input type="number" class="form-control" ng-model="barChart.newValue" min="0" max="100"/>
    </div>
  </form>
  <div>
    <button class="btn btn-default" ng-click="barChart.add()">Add</button>
    <button class="btn btn-default" ng-click="barChart.clear()">Clear</button>
  </div>
</div>
<div>
  <svg ng-attr-width="{{barChart.width + 100}}" ng-attr-height="{{barChart.height + 200}}">
    <g transform="translate(50,50)">
      <g ng-repeat="datum in barChart.data">
        <rect
            width="20"
            ssvg
            ss-x="30 * $index + 5"
            ss-y="barChart.yScale.scale(datum.value)"
            ss-y-enter="barChart.yScale.scale(0)"
            ss-height="barChart.yScale.scale(0) - barChart.yScale.scale(datum.value)"
            ss-height-enter="0"
            ss-fill="datum.color"
            ss-dur="0.3"
            ss-delay="0"/>
        <text
            text-anchor="end"
            ng-attr-transform="{{barChart.transform().translate(30 * $index + 25, barChart.yScale.scale(0) + 10).rotate(-60).toString()}}">
          {{datum.label}}
        </text>
      </g>
    </g>
    <g transform="translate(50,50)" ss-axis="'left'" ss-ticks="10" ss-scale="barChart.yScale"/>
    <g ng-attr-transform="{{barChart.transform().translate(50, barChart.height + 50).toString()}}">
      <line
          x1="0"
          y1="0"
          y2="0"
          stroke="#000"
          ssvg
          ss-x2="barChart.width"/>
    </g>
  </svg>
</div>
