<svg ng-attr-width="{{main.width}}" ng-attr-height="{{main.height}}">
  <circle ssvg ss-cx="circle.x" ss-cy="circle.y" ss-r="circle.r"
    ss-fill="circle.color" ss-stroke="circle.strokeColor" ss-opacity="circle.opacity"
    ss-dur="circle.duration" ss-delay="circle.delay" ng-repeat="circle in main.circles"/>
  <rect ssvg ss-x="rect.x" ss-y="rect.y" ss-width="rect.width" ss-height="rect.height"
    ss-fill="rect.color" ss-stroke="rect.strokeColor" ss-opacity="rect.opacity"
    ss-dur="rect.duration" ss-delay="rect.delay" ng-repeat="rect in main.rects"/>
  <line ssvg ss-x1="line.x1" ss-y1="line.y1" ss-x2="line.x2" ss-y2="line.y2"
    ss-stroke="line.color" ss-opacity="line.opacity"
    ss-dur="line.duration" ss-delay="line.delay" ng-repeat="line in main.lines"/>
  <text ssvg ss-x="text.x" ss-y="text.y"
      ss-fill="text.color" ss-opacity="text.opacity"
      ss-dur="text.duration" ss-delay="text.delay" ng-repeat="text in main.texts">
    {{text.text}}
  </text>
</svg>
