<svg ng-attr-width="{{main.width + 100}}" ng-attr-height="{{main.height + 100}}">
  <g transform="translate(50,50)">
    <circle
        ssvg
        ss-cx="main.xScale.scale(circle.x)"
        ss-cy="main.yScale.scale(circle.y)"
        ss-r="circle.r"
        ss-fill="circle.color"
        ss-stroke="circle.strokeColor"
        ss-opacity="circle.opacity"
        ss-cx-enter="main.xScale.scale(0)"
        ss-cy-enter="main.yScale.scale(0)"
        ss-r-enter="5"
        ss-fill-enter="'#000'"
        ss-stroke-enter="'#000'"
        ss-opacity-enter="1"
        ss-dur="circle.duration"
        ss-delay="circle.delay"
        ng-repeat="circle in main.circles"/>
    <ellipse
        ssvg
        ss-cx="main.xScale.scale(ellipse.x)"
        ss-cy="main.yScale.scale(ellipse.y)"
        ss-rx="ellipse.rx"
        ss-ry="ellipse.ry"
        ss-fill="ellipse.color"
        ss-stroke="ellipse.strokeColor"
        ss-opacity="ellipse.opacity"
        ss-cx-enter="main.xScale.scale(0)"
        ss-cy-enter="main.yScale.scale(0)"
        ss-rx-enter="5"
        ss-ry-enter="5"
        ss-fill-enter="'#000'"
        ss-stroke-enter="'#000'"
        ss-opacity-enter="1"
        ss-dur="ellipse.duration"
        ss-delay="ellipse.delay"
        ng-repeat="ellipse in main.ellipses"/>
    <rect
        ssvg
        ss-x="main.xScale.scale(rect.x)"
        ss-y="main.yScale.scale(rect.y)"
        ss-width="rect.width"
        ss-height="rect.height"
        ss-fill="rect.color"
        ss-stroke="rect.strokeColor"
        ss-opacity="rect.opacity"
        ss-x-enter="main.xScale.scale(0)"
        ss-y-enter="main.yScale.scale(0)"
        ss-width-enter="10"
        ss-height-enter="10"
        ss-fill-enter="'#000'"
        ss-stroke-enter="'#000'"
        ss-opacity-enter="1"
        ss-dur="rect.duration"
        ss-delay="rect.delay"
        ng-repeat="rect in main.rects"/>
    <line
        ssvg
        ss-x1="main.xScale.scale(line.x1)"
        ss-y1="main.yScale.scale(line.y1)"
        ss-x2="main.xScale.scale(line.x2)"
        ss-y2="main.yScale.scale(line.y2)"
        ss-stroke="line.color"
        ss-opacity="line.opacity"
        ss-x1-enter="main.xScale.scale(0)"
        ss-y1-enter="main.yScale.scale(0)"
        ss-x2-enter="main.xScale.scale(0)"
        ss-y2-enter="main.yScale.scale(0)"
        ss-stroke-enter="'#000'"
        ss-opacity-enter="1"
        ss-dur="line.duration"
        ss-delay="line.delay"
        ng-repeat="line in main.lines"/>
    <text
        ssvg
        ss-x="main.xScale.scale(text.x)"
        ss-y="main.yScale.scale(text.y)"
        ss-fill="text.color"
        ss-opacity="text.opacity"
        ss-x-enter="main.xScale.scale(0)"
        ss-y-enter="main.yScale.scale(0)"
        ss-fill-enter="'#000'"
        ss-opacity-enter="1"
        ss-dur="text.duration"
        ss-delay="text.delay"
        ng-repeat="text in main.texts">
      {{text.text}}
    </text>
    <path
        fill="none"
        ssvg
        ss-d="main.path(path.points)"
        ss-stroke="path.color"
        ss-opacity="path.opacity"
        ss-d-enter="main.initialPath(path.points)"
        ss-stroke-enter="'#000'"
        ss-opacity-enter="1"
        ss-dur="path.duration"
        ss-delay="path.delay"
        ng-repeat="path in main.paths"/>
    <polygon
        fill="none"
        ssvg
        ss-points="main.points(polygon.points)"
        ss-stroke="polygon.color"
        ss-opacity="polygon.opacity"
        ss-points-enter="main.initialPoints(polygon.points)"
        ss-stroke-enter="'#000'"
        ss-opacity-enter="1"
        ss-dur="polygon.duration"
        ss-delay="polygon.delay"
        ng-repeat="polygon in main.polygons"/>
    <polyline
        fill="none"
        ssvg
        ss-points="main.points(polyline.points)"
        ss-stroke="polyline.color"
        ss-opacity="polyline.opacity"
        ss-points-enter="main.initialPoints(polyline.points)"
        ss-stroke-enter="'#000'"
        ss-opacity-enter="1"
        ss-dur="polyline.duration"
        ss-delay="polyline.delay"
        ng-repeat="polyline in main.polylines"/>
  </g>
  <g transform="translate(50,850)" ss-axis="'bottom'" ss-ticks="10" ss-scale="main.xScale"/>
  <g transform="translate(50,50)" ss-axis="'left'" ss-ticks="10" ss-scale="main.yScale"/>
</svg>
